:root {
	--background: #ffffff;
	--gray-background: #dddddd;
	--accent: #0067c5;
	--border: #838c9a;
	--accent-text: #ffffff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0d1117;
		--gray-background: #4c4c4c;
		--text: #ffffff;
		--accent: #0067c5;
		--border: #838c9a;
		--accent-text: #ffffff;
	}
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	background-color: var(--background);
	color: var(--text);
	text-align: center;
}

main {
	overflow-y: auto;
	flex: 1;
}

.flexColumn,
.flexRow {
	display: flex;
	align-content: center;
	justify-content: center;
	gap: 1em;
}

.flexColumn {
	flex-direction: column;
}

.flexRow {
	flex-direction: row;
	flex-wrap: wrap;
}

h1 {
	margin-bottom: 0;
}

h2 {
	font-weight: normal;
	font-size: 1rem;
	margin-top: 0;
	margin-bottom: 0.5rem;
}

canvas {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: pixelated;
}

kbd {
	display: inline-block;
	font-weight: bold;
	background: var(--gray-background);
	min-width: 1ch;
	padding: 0.25ch;
	border-radius: 0.5ch;
}

#charPreview {
	border: 1px solid var(--border);
	border-radius: 4px;
}

section#format {
	border: 1px solid var(--border);
	border-radius: 4px;
	display: inline-grid;
	gap: 0.25rem;
	grid-auto-columns: 1fr;
	grid-auto-flow: column;
	padding: 0.3025rem;
}

section>button {
	border: none;
	font-size: 1.125rem;
	border-radius: 2px;
	min-height: 2.375rem;
}

section>button.active {
	background-color: var(--accent);
	color: var(--accent-text);
}

section.colors {
	display: flex;
	width: 100%;
	gap: 1.5vw;
}

.colors>div {
	display: flex;
	flex-direction: column;
}

select {
	padding: 0 0.75rem;
	padding-right: 2.5rem;
	height: 3rem;
	width: 100%;
}

footer {
	text-align: center;
	padding: 2vh;
}

a {
	color: var(--accent);
}
